#textdomain wesnoth-Trinity

[unit_type]
    id=Seth Beast2
    name= _ "Night Jackal"
    race=phantom_egypt
    image="units/seth-animal2.png"
    profile=portraits/seth-beast-B.png
    hitpoints=216
    movement_type=phantomfoot
    movement=6
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=100
    usage=fighter
    [standing_anim]
        start_time=0
        alpha=0.9~0.5:1400,0.5~0.7:600,0.7~0.4:600,0.4~0.9:1400
        [frame]
            duration=4000
            image=units/seth-animal2.png
        [/frame]
    [/standing_anim]
    [resistance]
        blade=70
        pierce=90
        impact=80
        fire=80
        cold=50
        arcane=140
    [/resistance]
    description= _ "The Old Kingdom was more powerful than anything the people of Irdya had ever known before, but they could not defeat the lethal hot summer sun or the equally lethal cold winter nights.
The attack-dogs of the Destroyer took on the form of these old adversaries, to break the will of the defenders."
    die_sound=drake-die.ogg
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE "Tomb Mummy"}
        [/specials]
        damage=12
        number=3
    [/attack]
    [attack]
        name=claws
        description= _"claws"
        type=blade
        icon=attacks/claws.png
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=wind
        description= _"night wind"
        type=cold
        [specials]
            {WEAPON_SPECIAL_SWARM}
        [/specials]
        icon=attacks/dark-missile.png
        range=ranged
        damage=6
        number=10
    [/attack]
    {DEFENSE_ANIM "units/seth-animal2.png" "units/seth-animal2.png" {SOUND_LIST:DRAKE_HIT} }
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        offset="0.0~1.0:325,0.0:100"
        alpha="0.9~0.0:325,0.0:100"
        start_time=-300
        [frame]
            image="units/seth-animal2.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=jaw
        [/filter_attack]
        offset="0.0~1.0:425,0.0:100"
        alpha="0.9~0.0:425,0.0:100"
        start_time=-300
        [frame]
            image="units/seth-animal2.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -20}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=wind
        [/filter_attack]
        offset="0"
        start_time=-200
        missile_start_time=-300
        # idea is that there is a longer animation for first attack, then a quicker one for repeated strikes
        [if]
            value_second=1
            [missile_frame]
                halo=halo/desert-wind-[4,1~3,2,3~1,4].png:[100,50*7,250]
                halo_mod=~CS(-100,-100,100)
                offset=-0.4~0.0:100,0.0~1.0:200,1.0:300,1.0~1.2:100
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
            value_second=2,3,4,5,6,7,8,9,10
            [missile_frame]
                halo=halo/desert-wind-[4,1,2,3,1,3,4].png:[100,50*5,150]
                halo_mod=~CS(-100,-100,100)
                offset=0.4~1.0:100,1.0:300,1.0~1.2:100
                auto_vflip=no
            [/missile_frame]
        [/else]
        [frame]
            image="units/seth-animal2.png:400"
        [/frame]
        attack_sound_start_time=-200
        [attack_sound_frame]
            duration=1
        [/attack_sound_frame]
        [if]
            value_second=1
            [attack_sound_frame]
                sound=fire.wav
            [/attack_sound_frame]
        [/if]
    [/attack_anim]
[/unit_type]
