#textdomain wesnoth-Trinity

#define TRINITY_FLARE_FADE
    [time]
        id=tri_flare_fade
        name= _ "Fading Flare"
        image=misc/schedule-tri-fade.png
        red=-35
        green=-25
        blue=-5
        #        sound=ambient/morning.ogg
    [/time]
#enddef

#define TRINITY_FLARE
    [time]
        id=tri_flare
        name= _ "Flare"
        image=misc/schedule-tri-flare.png
        lawful_bonus=35
        red=5
        green=45
        blue=90
    [/time]
#enddef

#define TRINITY_DARK
    [time]
        id=tri_dark
        name= _ "Dark"
        image=misc/schedule-tri-dark.png
        lawful_bonus=-40
        red=-120
        green=-105
        blue=-70
    [/time]
#enddef

#define TRINITY_TOWER_DARK
    [time]
        id=tri_sand_tower
        name=_"Tower"
        image=misc/tower.png
        lawful_bonus=-10
        red=-20
        green=-25
        blue=-70
    [/time]
#enddef

#define TRINITY_DP_NIGHT
    [time]
        id=tri_dp_night
        name= _ "Night"
        image=misc/schedule-dp-night.png
        lawful_bonus=-25
        red=-50
        green=-20
        blue=-10
    [/time]
#enddef

#define TRINITY_DP_DUSK
    [time]
        id=tri_dp_dusk
        name= _ "Dusk"
        image=misc/schedule-dp-dusk.png
        red=-20
        green=-15
        blue=-15
    [/time]
#enddef

#define TRINITY_DP_DAWN
    [time]
        id=tri_dp_dawn
        name= _ "Dawn"
        image=misc/schedule-dp-dawn.png
        red=-25
        green=-20
        blue=-5
    [/time]
#enddef

#define TRINITY_DP_SCHEDULE

    {TRINITY_DP_NIGHT}
    {TRINITY_DP_DAWN}
    {TRINITY_DP_DUSK}

#enddef

#define TRINITY_TWO_SUNS
    [time]
        id=tri_two_suns
        name= _ "Dawn"
        image=misc/schedule-two-suns.png
        lawful_bonus=25
        red=10
        green=10
        blue=5
    [/time]
#enddef
