#textdomain wesnoth-Trinity
[unit_type]
    id=Tri_Daemon2
    name= _ "Water Daemon"
    race=tri_avatar
    image="units/dae2.png"
    #    profile="portraits/.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=tri_daemon
    movement=6
    experience=50
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=25
    usage=archer
    description= _ "..."
    die_sound=troll-die-1.ogg
    #    [abilities]
    #        {ABILITY_STEADFAST}
    #    [/abilities]
    [attack]
        name=trident
        description=trident
        icon=attacks/trident.png
        type=pierce
        range=melee
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=14
        number=2
    [/attack]
    [attack]
        name=scream
        description= _ "scream"
        icon=attacks/wail.png
        type=cold
        range=ranged
        damage=8
        number=4
    [/attack]
    [standing_anim]
        start_time=0

        blend_color=-200,-160,200
        blend_ratio=0.0~0.1:200,0.1~0.0:200
        #	alpha=1.0~0.8:200,0.8~1.0:200
        [frame]
            duration=400
            image="units/dae2.png"
        [/frame]
    [/standing_anim]

    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-200

        [frame]
            duration=25
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=75
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=150
            image="units/dae2.png"
            sound=wail.wav
        [/frame]
        [frame]
            duration=75
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=25
            image="units/dae2.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225

        [frame]
            duration=25
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=175
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=175
            image="units/dae2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/dae2.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/dae2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=75
            image="units/dae2.png"
        [/frame]
        [frame]
            duration=25
            image="units/dae2.png"
        [/frame]
    [/attack_anim]
[/unit_type]
