#textdomain wesnoth-Trinity

#define TRI_PONCE_IMAGES
    profile=portraits/ponce.png
    #    small_profile=portraits/ponce.png~CROP(74,0,280,280)~SCALE(205,205)
    #    image_icon=portraits/ponce.png~CROP(142,0,140,140)~SCALE(72,72)
#enddef

[unit_type]
    id=SouthSeas Pirate
    name= _ "Smuggler"
    gender=male
    race=south-seas_human
    #    image="units/ponce.png~RC(tri_brown>tri_blue)"
    image="units/ponce.png"
    #
    {DEFENSE_ANIM "units/ponce-defend2.png" "units/ponce-defend1.png" {SOUND_LIST:HUMAN_HIT} }
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/ponce-leading.png"
        [/frame]
    [/leading_anim]
    {TRI_PONCE_IMAGES}
    hitpoints=42
    movement_type=seafoot
    movement=6
    experience=40
    level=1
    alignment=neutral
    advances_to=SouthSeas Corsair
    cost=60
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    usage=fighter
    description= _ "..."
    {NOTE_LEADERSHIP}
    {NOTE_POISON}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        pierce=100
        blade=100
        impact=100
    [/resistance]
    [movement_costs]
        deep_water=2
        flat=1
    [/movement_costs]
    [defense]
        shallow_water=50
        deep_water=50
        swamp_water=60
        reef=60
    [/defense]
    [attack]
        name=cutlass
        description= _ "cutlass"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/ponce.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/ponce.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/ponce.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/ponce.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ponce.png"
        [/frame]
    [/attack_anim]
[/unit_type]

[unit_type]
    id=SouthSeas Corsair
    name= _ "Pirate"
    gender=male
    race=south-seas_human
    image="units/ponce-corsair.png"
    #
    {DEFENSE_ANIM "units/ponce-corsair-defend2.png" "units/ponce-corsair-defend1.png" {SOUND_LIST:HUMAN_HIT} }
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/ponce-corsair-leading.png"
        [/frame]
    [/leading_anim]
    {TRI_PONCE_IMAGES}
    hitpoints=50
    movement_type=seafoot
    movement=6
    experience=70
    level=2
    alignment=neutral
    advances_to=SouthSeas Seadog
    cost=60
    [abilities]
        {ABILITY_LEADERSHIP}
        {ABILITY_SKIRMISHER}
    [/abilities]
    usage=fighter
    description= _ "..."
    {NOTE_LEADERSHIP}
    {NOTE_SKIRMISHER}
    {NOTE_POISON}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        pierce=90
        blade=100
        impact=100
    [/resistance]
    [defense]
        sand=60
        shallow_water=50
        deep_water=50
        swamp_water=60
        reef=60
    [/defense]
    [movement_costs]
        deep_water=2
        flat=1
    [/movement_costs]
    [attack]
        name=cutlass
        description= _ "cutlass"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        damage=8
        number=3
    [/attack]
    [attack]
        name=quoit
        description= _ "quoit"
        icon=attacks/chakram.png
        type=blade
        range=ranged
        damage=3
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/ponce-corsair.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/ponce-corsair.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/ponce-corsair.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/ponce-corsair.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ponce-corsair.png"
        [/frame]
    [/attack_anim]
[/unit_type]

[unit_type]
    id=SouthSeas Seadog
    name= _ "Corsair"
    gender=male
    race=south-seas_human
    image="units/ponce-seadog.png"
    #
    {DEFENSE_ANIM "units/ponce-seadog-defend2.png" "units/ponce-seadog-defend1.png" {SOUND_LIST:HUMAN_HIT} }
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/ponce-seadog-leading.png"
        [/frame]
    [/leading_anim]
    {TRI_PONCE_IMAGES}
    hitpoints=62
    movement_type=seafoot
    movement=6
    experience=85
    level=3
    alignment=neutral
    advances_to=null
    #    {AMLA_DEFAULT}
    {TRI_AMLA_HEROIC}
    cost=60
    [abilities]
        {ABILITY_LEADERSHIP}
        {ABILITY_SKIRMISHER}
    [/abilities]
    usage=fighter
    description= _ "..."
    {NOTE_LEADERSHIP}
    {NOTE_SKIRMISHER}
    {NOTE_POISON}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=90
        pierce=80
        impact=100
    [/resistance]
    [defense]
        reef=50
        sand=60
        shallow_water=50
        deep_water=50
        swamp_water=60
    [/defense]
    [movement_costs]
        deep_water=2
        flat=1
    [/movement_costs]
    [attack]
        name=cutlass
        description= _ "cutlass"
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=chakram
        description= _ "chakram"
        icon=attacks/chakram.png
        type=blade
        range=ranged
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-200
            end=-175
            image="units/ponce-seadog.png"
        [/frame]
        [frame]
            begin=-175
            end=-75
            image="units/ponce-seadog.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-75
                end=100
                image="units/ponce-seadog.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-75
                end=100
                image="units/ponce-seadog.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/ponce-seadog.png"
        [/frame]
    [/attack_anim]
[/unit_type]

#undef TRI_PONCE_IMAGES
